@page "/servers"
@using StudentView.Models

<h3>Servers</h3>



<div data-name="@server.ServerName" data-status="Server is @(server.IsOffline ? "Offline":"Online")" style="color: @(server.IsOffline ? "red" : "green")">
    @server.ServerName is in @server.City @(server.IsOffline ? "Offline": "Online")
</div>

<button class="btn btn-primary test" @onclick="(() => server.IsOffline = !server.IsOffline)">Change Server</button>

@code {
    private string status = "Server is offline";
    private Server server = new() { City = "Toronto", IsOffline = true, ServerName = "Server 1" };


}
