@page "/students"
@using StudentView.Models
@using StudentView.Services
@inject HttpClient client

<h3>Students</h3>

@if (hasError)
{
    <p>Loading failed!!!</p>
}

<div>
    <MudDataGrid Items="students" Filterable="false" SortMode="SortMode.None" Groupable="false">
        <Columns>
            <PropertyColumn Property="s => s.Id" Title="Identity"></PropertyColumn>
            <PropertyColumn Property="s => s.FirstName" Title="Firstname"></PropertyColumn>
            <PropertyColumn Property="s => s.LastName" Title="Lastname"></PropertyColumn>
            <PropertyColumn Property="s => s.Birthday" Title="Birthday"></PropertyColumn>
            <PropertyColumn Property="s => s.Classroom" Title="Classroom"></PropertyColumn>
            <TemplateColumn CellClass="d-flex justify-end" >
                <CellTemplate>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" 
                                   Variant="Variant.Outlined" 
                                   Color="Color.Secondary" 
                                   Class="mr-2"
                                   OnClick="() => DeleteStudent(@context.Item.Id)"/>

                    <MudIconButton Icon="@Icons.Material.Filled.Edit" 
                                   Variant="Variant.Outlined" 
                                   Color="Color.Primary" 
                                   Href="@("/students/"+@context.Item.Id)" />
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
</div>
<div class="d-flex justify-content-end">
    <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Href="/students/create" />
</div>

@code {
    Student[] students = [];
    bool hasError = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            students = MockStudentService.GetAllStudent().ToArray();
            //students = await client.GetFromJsonAsync<Student[]>("all") ?? [];
        }
        catch
        {
            hasError = true;
            students = MockStudentService.GetAllStudent().ToArray();
        }
    }

    void DeleteStudent(int id)
    {
        Console.WriteLine("DeleteId :" + id);
    }
}
